body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #393E46;
  color: #EEEEEE;
}

h1 {
  font-size: 5.625rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #FFD460;
  }

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 100px;
  color: #FFD460;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #EEEEEE;
}

p{

  line-height: 2;
}

hr{
  border: dotted #FFD460 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a{
  color: #00ADB5;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #FFD460;
}

span {
  text-transform: uppercase;
}

.top-container {
  background-color: #000;
  padding-top: 100px;
  position: relative;
  height: 1000px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: BLACK;
  padding: 50px 0 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.intro{
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 440px;
}

.gif{
  position: relative;
  right: 0;
}

.html5-logo{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.react-logo{
    width: 25%;
    float: left;
    margin-right: 30px;
}

/*
.react-skill-description{
  clear: left;
}

.html5-skill-description{
  clear: right;
}
*/

.mountain {
  position: relative;
  top: 195px;
}

.palkia {
  position: absolute;
  left: 100px;
}

.dialga {
  position: absolute;
  right: 100px;
}

.buttonClass {
  font-size:15px;
  font-family: 'Montserrat', sans-serif;
  width:140px;
  height:50px;
  border-width:0;
  color: black;
  border-color:#18ab29;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  background:linear-gradient(rgba(255, 212, 96, 1), rgba(255, 212, 96, 0.39));
}

.buttonClass:hover {
  background: linear-gradient(rgba(255, 212, 96, 0.39), rgba(255, 212, 96, 1));
}
